#bio {
  margin-top: 25px;
}

#copyright {
  padding-top: 25px;
}

#familyPic {
  height: auto;
  max-width: 100%;
}

#footer {
  margin-top: 25px;
}

#footer i {
  font-size: 2em;
}

#footer div {
  color: #899CBA;
  text-align: center;
}

#title {
  padding-bottom: 15px;
}
