#bio {
  margin-top: 25px;
}

#copyright {
  padding-top: 25px;
}

#familyPic {
  height: auto;
  max-width: 100%;
}

#footer {
  margin-top: 25px;
}

#footer i {
  color: #337AB7;
  font-size: 2em;
}

#footer div {
  color: #337AB7;
  padding-top: 0.5em;
  text-align: center;
}

#footer div img {
  color: red;
  height: 2em;
  width: 2em;
}

#title {
  padding-bottom: 15px;
}
